<div class="container">

  <!-- File input -->
  <h2>Enter CSV-file for parsing:</h2>
  <input type="file" id="file" name="file"/>
  <button class="btn btn-primary btn-count-wages" ng-click="parseFile()">Count wages</button>

  {{ errorMessage }}

  <h3>List of employees</h3>
  <div class="col-xs-12 col-sm-6 filter-wrapper">
    <input class="form-control" type="text" placeholder="Filter by name" ng-model="employeeFilter.name"/>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Person ID</th>
        <th>Person name</th>
        <th>Monthly wage</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in employees | filter: employeeFilter | orderBy:'employeeNumber'">
        <td>{{ employee.employeeNumber }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.getMonthlyWage() | currency : "$" : 2 }}</td>
      </tr>
    </tbody>
  </table>
  <br></br>

</div>